<div class='event'>
	<h2>
		{{title}}
	</h2>
	<span class='budget'>Budget: $ {{format_money budget}}</span>
	<button class='delete-event'>x</button>
	<div class='items'>
		<h3>
			Items
		</h3>
		<ul>
			{{#each items}}
				<li>
					<div class='item'>
						{{name}}
					</div>
					<span class='price'>
						$
						{{price}}
					</span>
				</li>
			{{else}}
				No items added to this event.
			{{/each}}
		</ul>
	</div>
</div>
