<div class='event-wrapper'>
	<button id='delete-event-{{id}}'>x</button>
	<div class='event'>
		<h2>
			{{title}}
		</h2>
		<span class='budget'>Budget: $ {{format_money budget}}</span>
		<span class='date'>Date: {{date}}</span>
		<span class='total'></span>
		<div class='items'>
			<h3>
				Items
			</h3>
			<ul class='all-items'>
				{{#each items}}
					<li class='item-list'>
						<button id='delete-item-{{id}}'>x</button>
						<label for='include-{{id}}'>w</label>
						<input
							type='checkbox'
							class='include'
							id='include-{{id}}'
							name='include'
							checked={{include}}
							hidden
						/>
						<div class='item'>
							{{name}}
						</div>
						<span class='price' id='item-{{id}}'>
							$
							{{price}}
						</span>
					</li>
				{{/each}}
				<li>
					<div class='item-wrapper'>
						<button id='add-item-{{id}}'>+</button>
						<input
							type='text'
							name='new-name'
							id='new-name-{{id}}'
							class='item'
							placeholder='New item: '
						/>
					</div>
					<input
						type='number'
						name='new-price'
						id='new-price-{{id}}'
						class='price'
						placeholder='$ ___ '
					/>
				</li>
			</ul>
		</div>
	</div>
</div>
