<div class='input' data-placeholder='{{placeholder}}'>
	{{#if isPassword}}
		<input type='{{type}}' name='{{id}}' id='{{id}}' minlength='8' />
	{{else}}
		<input type='{{type}}' name='{{id}}' id='{{id}}' />
	{{/if}}
</div>
